<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="userForm">
        <label for="name">Name</label>
        <input type="text" id="name" name="username" required>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
        <button type="submit">Submit</button>
    </form>

    <script>
        document.getElementById('userForm').addEventListener('submit', async function(event) {
            event.preventDefault();

            const username = document.getElementById('name').value;
            const email = document.getElementById('email').value;

            const response = await fetch('/user/create', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ username, email })
            });

            if (response.status === 201) {
                window.location = '/';
            } else {
                // Hata durumunda yapılacak işlemler
                console.error('Error creating user:', response.statusText);
            }
        });
    </script>
</body>
</html>
